body{
    font-family: Arial;            
}

.lt,.ent{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.ent{
    margin-bottom: 10px;
    align-items: stretch;
}

.ni,.di{
    font-size: 15px;
    padding: 6px;
}

.btn{
    background-color: rgb(31, 131, 31);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.dlt{
    background-color: darkred;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 0px;
}